@use "@/styles/_mixins.scss" as *;
@use "@/styles/_variables.scss" as *;

.home_nav_login:hover,
.home_nav_theme_switch:hover {
    scale: $default-scale-hover;
    cursor: pointer;
    transition: all $default-transition-duration ease-out;
}

.home_grid {
    height: 100%;
}

.home_content {

    &_col_1,
    &_col_2 {
        @include flex-center;
    }

    &_col_2 {
        border-left: $default-border-thin-thickness solid var(--mui-palette-primary-main);
    }
}

.home_content_card {
    width: 75%;
    border-radius: $default-border-radius;
    box-shadow: 0 0 $default-box-shadow-size 0 var(--mui-palette-primary-light);
    transition: all $default-transition-duration ease-out;

    &_hidden {
        opacity: 0;
        transform: translateY(100%);
    }

    &_visible {
        opacity: 1;
        transform: translateY(0);
    }
}

.home_content_card_header,
.home_content_card_button {
    background-color: var(--mui-palette-primary-light);
}

.home_content_card_actions {
    margin-bottom: 1rem;
    justify-content: center;
}