@use "../../styles/_mixins.scss" as *;

.image_container {
    @include flex-center;
}

.image_wrapper {
    transform: translateX(-200%) rotate(-270deg);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;

    &.visible {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }

    &.bounce {
        animation: smoothBounce 0.6s forwards;
    }
}

@include smoothBounce;
